<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

  <%= devise_error_messages! %>

  <div class="row">
    <div class="form-group col-md-5 col-sm-8 col-xs-11">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>

  <%= f.button "Resend confirmation instructions", type: "submit", class: "btn btn-primary"  %>
<% end %>
