<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <%= devise_error_messages! %>

  <div class="row">
    <div class="form-group col-md-5 col-sm-8 col-xs-11">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-5 col-sm-8 col-xs-11">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5 col-sm-8 col-xs-11">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5 col-sm-8 col-xs-11">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <%= f.button "Submit Changes", class:"btn btn-submit" %>
<% end %>

<h3>Cancel My Account</h3>

<span><h5 style="margin-right: 20px; display: inline;">Unhappy?</h5> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-sm" %></span>
