<div id="new-group" class="row">
  <div class="col-sm-6">
    <h3>Create a new group:</h3>
    <%= form_for [community, Group.new], remote: true, html: {class: "form-horizontal"} do |f| %>

      <%= f.hidden_field :community_id, value: community.id %>

      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.collection_select :restaurant_id, community.restaurants, :id, :name,
              {prompt: "Choose a Local Restaurant"}, {class: "form-control"} %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-3">
          <%= f.text_field :time, class: "form-control", placeholder: "Time" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <%= f.text_area :info, class: "form-control", placeholder: "Extra Information" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">
    function setTimePicker($timeField, startTime){
      var $timepicker = $timeField,
          inFiveHours = new Date();
      inFiveHours.setHours(new Date().getHours() + 5);
      $timepicker.timepicker({
        'scrollDefault': 'now',
        'minTime': new Date(),
        'maxTime': inFiveHours,
        'step': 15
      });
      $timepicker.timepicker('setTime', startTime);
      $timepicker.on('changeTime', function() {
        console.log('change');
        console.log($(this).val());
      });
    };

    inTwentyMinutes = new Date();
    inTwentyMinutes.setMinutes(new Date().getMinutes() + 20);
    setTimePicker($('#new_group input[name="group[time]"]'), inTwentyMinutes);
    $(".group").each(function(index, group){
      var groupTime = $(this).find(".group-time").text();
      setTimePicker($(group).find('input[name="group[time]"]'), groupTime);
    })
  </script>
</div>