<div id="new-group" class="row">
  <div class="col-sm-6">
    <h3>Create a new group:</h3>
    <%= form_for [community, Group.new], remote: true, html: {class: "form-horizontal"} do |f| %>

      <%= f.hidden_field :community_id, value: community.id %>
      <%= f.hidden_field :creator_id, value: current_member.id %>

      <div class="row">
        <div class="form-group col-sm-8">
          <%= f.collection_select :restaurant_id, community.restaurants, :id, :name,
              {prompt: "Choose a Local Restaurant"}, {class: "form-control"} %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-3">
          <%= f.text_field :time, class: "form-control", placeholder: "Time" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <%= f.text_area :info, class: "form-control", placeholder: "Extra Information" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <label for="_invitee_ids">Invite Friends!</label>
          <%= collection_select(nil, :invitee_ids, other_members_of_community(community), :id, :name, {include_blank: true}, {class: "form-control", multiple: true}) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">

  $(function(){
    $('#_invitee_ids').select2();
  });

  function setTimePicker($timeField, startTime){
    var $timepicker = $timeField,
        inFiveHours = new Date();
    inFiveHours.setHours(new Date().getHours() + 5);
    $timepicker.timepicker({
      'scrollDefault': 'now',
      'minTime': new Date(),
      'maxTime': inFiveHours,
      'step': 15
    });
    $timepicker.timepicker('setTime', startTime);
    $timepicker.on('changeTime', function() {
      console.log('change');
      console.log($(this).val());
    });
  };

    // Setting up Date object set to 20 minutes from now for new group form
    inTwentyMinutes = new Date();
    inTwentyMinutes.setMinutes(new Date().getMinutes() + 20);
    setTimePicker($('#new_group input[name="group[time]"]'), inTwentyMinutes);

    //Setting up timepicker for hidden forms to change restaurant times
    $(".current-member-group").each(function(index, group){
      var groupTime = $(this).find(".group-time").text().trim();
      var timeChangeForm = $(group).find('input[name="group[time]"]');
      var groupHour = groupTime.split(":")[0];
      var groupMinutes = groupTime.split(":")[1];
      if(groupHour.length == 1){
        console.log(groupHour);
        groupTime = groupHour + ":" + groupMinutes + "pm";
      };
      setTimePicker(timeChangeForm, groupTime);
    });

  </script>
</div>