<!-- <div id="group-<%#= group.id %>" class="group<%#= " current-member-group" if group.creator == current_member %> col-sm-4"> -->  <!-- Not fully implemented -->
<div id="group-<%= group.id %>" class="group col-sm-4">
  <h2 class="group-restaurant"><%= group.restaurant.name %>,</h2>
  <h3 class="group-time"><%= group.show_time %></h3>

  <!-- Not fully implemented -->
  <%# if group.creator == current_member %>
    <!-- <div class="update-time"> -->
      <%#= form_for [community, group], remote: true, html: {class: "form-horizontal"} do |f| %>
        <%#= f.hidden_field :community_id, value: community.id %>
        <!-- <div class="form-group col-sm-3"> -->
          <%#= f.text_field :time, class: "form-control", placeholder: "Time" %>
        <!-- </div> -->
      <%# end %>
    <!-- </div> -->
  <%# end %>

  <h4 class="group-info"><%= group.info %></h4>
  <div class="group-members">
    <h4>Lunchers:</h4>
    <% if group.members.empty? %>
      <h5>Nobody! :(</h5>
    <% else %>
      <ul class="list-unstyled">
      <% group.members.each do |member| %>
        <li><h5><%= member.name %></h5></li>
      <% end %>
      </ul>
    <% end %>
    <div class="group-join-leave">
      <% if current_member.group == group %>
        <%= button_to "Leave Group", member_leave_group_path(current_member), remote: true, class: "leave-group btn btn-xs btn-danger" %>
      <% else %>
        <%= button_to "Join Group", member_join_group_path(current_member, group), remote: true, class: "join-group btn btn-xs btn-success" %>
      <% end %>
    </div>
  </div>
</div>

<!-- Not fully implemented -->
<script type="text/javascript">
//   $(function(){
//     $(".update-time").hide();
//   })
</script>