<h2><%= @restaurant.name %></h2>
<%= link_to "Edit Restaurant Info", edit_restaurant_path(@restaurant) %>
<%= @restaurant.category %>
<%= link_to "Yelp", "http://#{@restaurant.yelp_url}" %>

<h3>Reviews:</h3>
<div id="reviews">
  <%= render @restaurant.reviews %>
</div>

<% if member_signed_in? %>
  <%= render 'reviews/new', review: Review.new(restaurant_id: @restaurant.id) %>
<% else %>
  <h4><%= link_to 'Sign In', new_member_session_path %> or
      <%= link_to 'Sign Up', new_member_registration_path %>
      to add a review!
  </h4>
<% end %>
<p>Map</p>
  <div id="adiv">
    <div id="map-canvas"></div>
    <div id="directions-panel"></div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiSQuuu6i2KkJvB9cBwnyW9oV4cXNvkmI">
</script>
<script type="text/javascript">
  var community = {
    latitude: <%= @community.latitude %>,
    longitude: <%= @community.longitude %>
  };
  var restaurant = {
    latitude: <%= @restaurant.latitude %>,
    longitude: <%= @restaurant.longitude %>
  }
  loadRestMap(community, restaurant);
</script>

<style>
  #map-canvas {height: 100%;}
  #adiv {height: 375px; width: 750px;}
  #panel{ position: absolute;
          top: 5px;
          left: 50%;
          margin-left: -180px;
          z-index: 5;
          background-color: #fff;
          padding: 5px;
          border: 1px solid #999;
  }
  #directions-panel{
    height: 100%;
    float: right;
    width: 250px;
    overflow: auto;
  }
  #map-canvas{
    margin-right: 400px;
  }
  #control{
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
  }
  @media print {
    #map-canvas {
      height: 500px;
      margin: 0;
    }
    #directions-panel {
      float: none;
      width: auto;
    }
  }

</style>
