<h2><%= @restaurant.name %></h2>
<%= @restaurant.review_average %>
<%= link_to "Edit Restaurant Info", edit_restaurant_path(@restaurant) %>
<%= @restaurant.category %>
<%= link_to "Yelp", "http://#{@restaurant.yelp_url}" %>

<h3>Reviews:</h3>
<div id="reviews">
  <%= render @restaurant.reviews %>
</div>

<% if member_signed_in? %>
  <%= render 'reviews/new', review: Review.new(restaurant_id: @restaurant.id) %>
<% else %>
  <h4><%= link_to 'Sign In', new_member_session_path %> or
      <%= link_to 'Sign Up', new_member_registration_path %>
      to add a review!
  </h4>
<% end %>
<div class="row">
  <div id="restaurant-map" class="col-sm-6">
    <div id="map-canvas"></div>
  </div>

  <div id="directions-panel" class="col-sm-6"></div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiSQuuu6i2KkJvB9cBwnyW9oV4cXNvkmI">
</script>
<script type="text/javascript">
  var community = {
    latitude: <%= @community.latitude %>,
    longitude: <%= @community.longitude %>
  };
  var restaurant = {
    latitude: <%= @restaurant.latitude %>,
    longitude: <%= @restaurant.longitude %>
  }
  loadRestMap(community, restaurant);
</script>
