<%= form_for(review, html: {class: "form-horizontal"}, remote: true) do |f| %>

  <%= render 'shared/errors', object: review %>

  <%= f.hidden_field :restaurant_id %>

  <div class="form-group">
    <%= f.label :stars, class: "form-label col-sm-1" %>
    <div class="col-sm-2">
    <div class="star-rating"></div>
    <%= f.hidden_field :rating %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :text, "Body", class: "form-label col-sm-1" %>
    <div class="col-sm-6">
      <%= f.text_area :text, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-1 cancel-submit-buttons">
      <%= f.button submit_text, type: 'submit', class: "btn btn-primary" %>
      <%= f.button "Cancel", id: "#{review.id}-cancel", class: "btn btn-danger" %>
    </div>
  </div>

<% end %>

