<%= form_for(review, html: {class: "form-horizontal"}, remote: true) do |f| %>

  <%= render 'shared/errors', object: review %>

  <%= f.hidden_field :restaurant_id %>

  <div class="form-group">
    <%= f.label :rating, class: "form-label col-sm-1" %>
    <div class="col-sm-2">
      <%= f.number_field :rating, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :text, "Body", class: "form-label col-sm-1" %>
    <div class="col-sm-6">
      <%= f.text_area :text, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-2 col-sm-offset-1 btn-group">
      <%= f.button submit_text, type: 'submit', class: "btn btn-primary" %>
      <%= f.button "Cancel", id: "#{review.id}-cancel", class: "btn btn-danger" %>
    </div>
  </div>

  <script type="text/javascript">
    $('#' + <%= review.id %> + '-cancel').click(function(e) {
      e.preventDefault();
      var $reviewForm = $(this).closest('.review-form');
      $reviewForm.siblings('div').show();
      $reviewForm.remove();
    });
  </script>

<% end %>

