<% restaurants.each do |restaurant| %>
  <div id="restaurant-<%= restaurant.id %>" class="restaurant">
    <h3 class="name"><%= link_to restaurant.name, restaurant %></h3>
    <h5 class="category">(<%= restaurant.category %>)</h5>
    <h5 class="address"><%= restaurant.address %></h5>
  </div>
<% end %>
<%= will_paginate restaurants, params: {is_active: true} %>
