<div id="community-header" class="row">
  <h1 class="name"><%= @community.name %></h1>
</div>

<div class="row">
  <div class="col-sm-7">
    <div id="restaurant-list">
      <%= render 'page', restaurants: @restaurants %>
    </div>
    <%= render 'restaurants/form', restaurant: Restaurant.new(community_id: @community.id) %>
  </div>

  <div id="community-map" class="col-sm-5">
    <div id="map-canvas"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-7">
  </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiSQuuu6i2KkJvB9cBwnyW9oV4cXNvkmI">
</script>
<script type="text/javascript">
  var community = {
    latitude: <%= @community.latitude %>,
    longitude: <%= @community.longitude %>,
    name: '<%= @community.name %>'
  };

  var restaurants = [];
  <% @community.restaurants.each do |restaurant| %>
    var current_restaurant = [<%= restaurant.latitude %>, <%= restaurant.longitude %>, '<%= restaurant.name %>', <%= restaurant.id %>, '<%= restaurant.address %>', '<%= restaurant.yelp_url %>'];
    restaurants.push(current_restaurant);
  <% end %>
  loadCommMap(community, restaurants);

  $(document).ready(function(){
    $("#restaurant-list").on("click", ".pagination a", function(e){
      e.preventDefault();
      $.getScript(this.href);
      return false;
    })
  })

</script>
