<h1><%= @community.name %></h1>

<div class="row">
  <div id="community-map" class="col-sm-6">
    <div id="map-canvas"></div>
  </div>

  <div id="restaurant-list" class="col-sm-6">
    <h2>Restaurants in your community</h2>
    <%= render @community.restaurants %>
  </div>

  <div id="new_restaurant_selection">
    <% if member_signed_in? %>
      <%= render 'restaurants/form', restaurant: Restaurant.new(community_id: @community.id) %>
    <% end %>
  </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiSQuuu6i2KkJvB9cBwnyW9oV4cXNvkmI">
</script>
<script type="text/javascript">
  var community = {
    latitude: <%= @community.latitude %>,
    longitude: <%= @community.longitude %>
  };

  var restaurants = [];
  <% @community.restaurants.each do |restaurant| %>
    // Need to add restaurant.name back in once we figure out how to handle apostrophes
    var current_restaurant = [<%= restaurant.latitude %>, <%= restaurant.longitude %>, "name"];
    restaurants.push(current_restaurant);
  <% end %>
  loadCommMap(community, restaurants)
</script>

<style>
  #map-canvas {height: 100%;}
  #adiv {height: 375px; width: 375px;}
</style>
