<h1><%= @community.name %></h1>

<div id="adiv">

<div id="map-canvas">
</div>

  <h3>Restaurants in your community</h3>
  <%= render @community.restaurants %>
  <div id="new_restaurant_selection">
    <% if member_signed_in? %>
      <%= render 'restaurants/form', restaurant: Restaurant.new(community_id: @community.id) %>
    <% end %>
  </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiSQuuu6i2KkJvB9cBwnyW9oV4cXNvkmI">
</script>
<script type="text/javascript">
  var community = {
    latitude: <%= @community.latitude %>,
    longitude: <%= @community.longitude %>
  };
  loadCommMap(community);
</script>
<style>
  #map-canvas {height: 100%;}
  #adiv {height: 375px; width: 375px;}
</style>